<% if @lunch_spot.errors.any? %>
  <% @lunch_spot.errors.full_messages.each do |message| %>
    <div>Error: <%= message %></div>
  <% end %>
<% end %>
<br/>
<%= form_for @lunch_spot do |spot| %>

  <%= spot.label :name %>
  <%= spot.text_field :name %>

  <%= spot.label :description %>
  <%= spot.text_field :description %>

  <%= spot.label :rating %>
  <%= spot.text_field :rating %>

  <button type="submit">Submit</button>
<% end %>